---
import {MY_NAME} from "../../config";
import PageLayout from "../../layouts/PageLayout.astro";
import PageMeta from "../../components/PageMeta.astro";
import ArticleStub from "../../components/ArticleStub.astro";
interface article {
    articleName: string
    link: string
    textStub: string
    tags: string[]
}
const articles = [
    {
        articleName: 'Global Illumination Part 1 : Voxelisation',
        link: 'gbuffer_voxelisation',
        textStub: 'Global Illumination is a technique in computer graphics in which we look to model the infinite number of light rays that bounce around a given scene, to provide indirect illumination, reflections, shadows and other effects such as translucency.',
        tags: ['Voxel']
    },
]
---

<PageLayout>
    <PageMeta title={ MY_NAME + "'s Articles"} slot="meta"/>
    <section slot="main" class="grid gap-5">
        <div id="header">
            <h1 class="text-2xl"><b>Articles</b></h1>
        </div>
        <ul class="flex flex-row flex-wrap">
            { articles.map((data) => <div class="m-1"><ArticleStub articleName={data.articleName} link={data.link} textStub={data.textStub} tags={data.tags}  ></ArticleStub></div>) }
        </ul>
    </section>
</PageLayout>